<#@ template language="C#" #>
<doctype html>
<html lang="en">
<#= DocumentHeaderView.Render() #>
<body>
    
<h1> Analysis of <#=_viewModel.RepoName #></h1>

<#= RankingsView.RenderFrom(_viewModel.Rankings) #>
<#= PackageListView.RenderFrom(_viewModel.PackageTree) #>
<#= HotSpotsView.RenderFrom(_viewModel.HotSpots) #>

</body>
</html>
<#+private ViewModel _viewModel; #>
