p {
    padding: 0;
    margin: 0;
}

ol {
    -ms-columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    font-weight: normal
}

body {
    font-family: Arial !important;
}

		
.unfolder { display: none; }

.toggle-label {
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
    border-radius: 5px;
    padding: 5px;
}
.unfold-icon, .fold-icon {
    color: #999;
    width: 10px;
    display: inline-block;
}
.unfolder ~ .fold {
    display: none;
}
.unfolder ~ label .fold-icon {
    display: none;
}

.unfolder:checked ~ .fold {
    display: block;
}
.unfolder:checked ~ label .fold-icon {
    display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
    display: none;
}











/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg); 
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}